---
author: No author.
tags:
  - knowledge
  - comp-sci
  - projects
  - FullStack Developer - Udacity
  - UdacityFullstack_FlaskApp
  - templates
description: No description.
---
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Flask app for Udacity Full-Stack Nanodegree program.">
      <meta name="author" content="Alejandro Martinez">
      <title>Law App 2.0 -- Login</title>
      <!-- Favicon -->
      <link href="./static/img/brand/favicon.png" rel="icon" type="image/png">
      <!-- Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
      <!-- Icons -->
      <link href="./static/vendor/nucleo/css/nucleo.css" rel="stylesheet">
      <link href="./static/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
      <!-- Argon CSS -->
      <link type="text/css" href="./static/css/argon.css?v=1.0.0" rel="stylesheet">
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
      <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
      <script>
         function start() {
           gapi.load('auth2', function() {
             auth2 = gapi.auth2.init({
               client_id: '{{CLIENT_ID}}',
             });
           });
         }
      </script>
   </head>
   <body class="bg-default">
      <div class="main-content">
         <!-- Navbar -->
         <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
            <div class="container px-4">
               <a class="navbar-brand" href="../index.html">
               <img src="./static/img/brand/white.png" />
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbar-collapse-main">
                  <!-- Collapse header -->
                  <div class="navbar-collapse-header d-md-none">
                     <div class="row">
                        <div class="col-6 collapse-brand">
                           <a href="../index.html">
                           <img src="./static/img/brand/blue.png">
                           </a>
                        </div>
                        <div class="col-6 collapse-close">
                           <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                           <span></span>
                           <span></span>
                           </button>
                        </div>
                     </div>
                  </div>
                  <!-- Navbar items -->
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link nav-link-icon" target="_blank" href="https://github.com/alemartinezz/law-app_udacity">
                        <i class="ni ni-key-25"></i>
                        <span class="nav-link-inner--text">Repo</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link nav-link-icon" target="_blank" href="https://alemartinezz.github.io/portfolio/">
                        <i class="ni ni-single-02"></i>
                        <span class="nav-link-inner--text">About me</span>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <!-- Header -->
         <div class="header bg-gradient-primary py-7 py-lg-8">
            <div class="container">
               <div class="header-body text-center mb-7">
                  <div class="row justify-content-center">
                     <div class="col-lg-5 col-md-6">
                        <h1 class="text-white">Welcome!</h1>
                        <p class="text-lead text-light">Log in with your google account.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
               <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
               </svg>
            </div>
         </div>
         <!-- Page content -->
         <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
               <div class="col-lg-5 col-md-7">
                  <div class="card bg-secondary shadow border-0">
                     <div class="card-header bg-transparent pb-5">
                        <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                        <div class="btn-wrapper text-center">
                           {% if login_status %}
                           <a>
                           You're currently logged in
                           </a>
                           <br>
                           <br>
                           <a href="/index" class="btn btn-info">Index</a>
                           {% else %}
                           <button id="signinButton" class="btn btn-neutral btn-icon">
                           <span class="btn-inner--icon"><img src="../static/img/icons/common/google.svg"></span>
                           <span class="btn-inner--text">Google</span>
                           </button>
                           {% endif %}
                           <script>
                              $('#signinButton').click(function() {
                                auth2.grantOfflineAccess().then(signInCallback);
                              });
                           </script>
                           <div id="result"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Footer -->
      <footer class="py-5">
         <div class="container">
            <div class="row align-items-center justify-content-xl-between">
               <div class="col-xl-6">
                  <div class="copyright text-center text-xl-left text-muted">
                     &copy; 2019 <a href="https://github.com/alemartinezz" class="font-weight-bold ml-1" target="_blank">Alejandro Martinez for Full-Stack Nanodegree - Udacity</a>
                  </div>
               </div>
               <div class="col-xl-6">
                  <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                     <li class="nav-item">
                        <a target="_blank" href="https://alemartinezz.github.io/portfolio/" class="nav-link" target="_blank">About Me</a>
                     </li>
                     <li class="nav-item">
                        <a href="https://github.com/alemartinezz/law-app_udacity" class="nav-link" target="_blank">Repo</a>
                     </li>
                     <li class="nav-item">
                        <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </footer>
      <!-- Argon Scripts -->
      <!-- Core -->
      <script src="./static/vendor/jquery/dist/jquery.min.js"></script>
      <script src="./static/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Argon JS -->
      <script src="./static/js/argon.js?v=1.0.0"></script>
      <script>
         function signInCallback(authResult) {
           if (authResult['code']) {
             // Hide the sign-in button now that the user is authorized
             $('#signinButton').attr('style', 'display: none');
             // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
             $.ajax({
               type: 'POST',
               url: '/gconnect?state={{STATE}}',
               processData: false,
               data: authResult['code'],
               contentType: 'application/octet-stream; charset=utf-8',
               success: function(result) {
                 // Handle or verify the server response if necessary.
                 if (result) {
                   $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                   setTimeout(function() {
                   window.location.href = "index";
                   }, 4000);
                   
               } else if (authResult['error']) {
             console.log('There was an error: ' + authResult['error']);
           } else {
                 $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                   }
               }
               
           }); } }
      </script>
   </body>
</html>